<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/client/lib/jquery-ui.css">
    <link rel="stylesheet" href="/static/client/lib/jquery-ui.structure.css">
    <link rel="stylesheet" href="/static/client/lib/jquery-ui.theme.css">
    <link rel="stylesheet" href="/static/client/whocolor.css">
    <script type="text/javascript" src="/static/client/lib/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/client/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/client/lib/async.js"></script>
    <script type="text/javascript" src="/static/client/lib/d3.min.js"></script>
    <script type="text/javascript" src="/static/client/whocolor.js"></script>
</head>
<body>
<div id="content" class="mw-body">
    hello world!
    <div id="bodyContent" class="mw-body-content">
        <div id="mw-content-text" class="mw-content-ltr"></div>
    </div>
</div>
<div id="mw-navigation">
    <div id="right-navigation">
        <div id="p-views" class="vectorTabs">
            <ul></ul>
        </div>
    </div>
</div>
</body>
</html>